<link rel="stylesheet" type="text/css" href="./fullcalendar/fullcalendar.min.css">
<link rel="stylesheet" type="text/css" href="./fullcalendar/fullcalendar.print.css" media='print'>
<script src="./fullcalendar/lib/moment.min.js"></script>
<script src="./fullcalendar/fullcalendar.min.js"></script>
<script>
$(document).ready(function() {
  $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    defaultDate: '<%= Date.today %>',
    editable: true,
    events: [
      <%= @events.each do |event| %>
        {
          title: '<%= event.title %>',
          start: '<%= event.event_start %>',
          end:   '<%= event.event_end %>'
        },
      <% end %>
    ]
  })
});
</script>
<div id='calendar'></div>
<form action="/add_event" method="POST">
  <input type="text" name="title" class="form-control" placeholder="EventTitle">
  <input type="submit">
</form>
